
#app{
  height: 100vh;
  position: relative;
}
body{
  text-align: center;
  overflow:hidden;
}
form{
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: #000000;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}


h1{
  margin-top: 10vh;
  margin-bottom: 2rem;
}