@media (max-width: 768px) {
  #app{
    height: 100%;
  }
}
body{
  text-align: center;
  overflow-x:hidden;
}
#app{
  position: relative;
}
h1{
  margin-top: 10vh;
  margin-bottom: 2rem;
}
#scroller-mask{
  width: 100%;
  overflow: hidden;
}
.event-item{
  margin-bottom: 2rem;
  margin-top: 5rem;
  margin-left:0;
  margin-right:0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1rem));
  }
}
.infinite-scroller{
  display: flex;
  gap: 2rem;
  width: fit-content;
  animation: scroll 50s linear infinite;
  scroll-behavior: smooth;
  flex-direction: row;
  justify-content: center;
}

.infinite-scroller img{
  width: 20vw;
}